*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    font-family:  monospace;
    background-color: #F5F4EF;
    color: #f0f0f0;
    line-height: 1.6;
    padding: 15px;
}
a{
    color: #000000;
    text-decoration: none;
}

.site-header,.terminal-block,.bordered-box {
    max-width: 1000px;
    margin: 0 auto 30px auto;

}
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
    flex-wrap: wrap;
    gap: 10px;
}
.site-header h1 a {
  color: #000000;
  font-size: 1.6rem;
}
.links {
  display: flex;
  gap: 20px;
}

.terminal-block a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 10px;

}
.bordered-box {
  position: relative;
  border: 1.5px solid #000000;
  background-color: #F5F4EF;
  padding: 24px;
}
.bordered-box-header {
  color: #000000;
  position: absolute;
  top: -12px;                  /* Pulls text up onto the top border line */
  left: 20px;
  background-color: #F5F4EF;   /* Same as page background to break the border line */
  padding: 0 8px;              /* Creates space around text */
  font-family: monospace;
  font-style: italic;
  font-size: 20px;
}
.bordered-box-body{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

}
p {
    color: #000000;
    font-size: 15px;
}
/* Base button styles */
.btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 5px 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border: 1.5px solid #000000;
  box-shadow: 3.5px 3.5px 0px #666666; /* Retro solid shadow */
  cursor: pointer;
}

/* Press state */
.btn:active {
  transform: translate(2px, 2px);
  box-shadow: 1.5px 1.5px 0px #666666;
}

/* Icon sizing */
.btn svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

/* LinkedIn styles */
.btn-linkedin {
  background-color: #0072b1;
  color: #ffffff;
}

/* GitHub styles */
.btn-github {
  background-color: #f7f5f0;
  color: #000000;
}

.btn-github svg {
  fill: #000000;
}

.btn-resources{
    background-color: #f0f0f0;
    color: #000000;
}



